<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <input type="text" class="form-control form-control-lg" 
                placeholder="Busca un proyecto" [(ngModel)]="billTitle"
                (keyup.enter)="addBill()">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3 mt-2">
            <div class="card p-3" *ngIf="bills.length == 0">
                <h6>No hay proyectos actualemente</h6>
            </div>

            <ul class="list-group" *ngIf="bills.length != 0;">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let bill  of bills; let i = index">{{bill.title}}
                
                    <div >
                        <span class="badge badge-primary badge-pill"> {{bill.votes}} </span>
                        |                        
                        <button class="btn px-2" (click)="addVote(i)">
                            <i class="bi bi-hand-thumbs-up" ></i>
                        </button>
                        <button class="btn px-2">
                            <i class="bi bi-eye" ></i>
                        </button>
                    </div>
                    
                    
                </li>
            </ul>
        </div>
    </div>
</div>